.products-card {
  display: flex;
  width: 96.2%;
  height: 380px;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  margin: 4rem 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.active {
  flex-direction: row-reverse;
  display: flex;
}

.products-card-majtas {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.kartaMadhe-info {
  display: flex;
  gap: 5px;
  padding: 0 10px;
}

.kartaMadhe-info > p {
  border: 3px solid #007fa4;
  border-radius: 1rem;
  padding: 3px 5px;
  font-size: 0.7rem;
  color: rgb(53, 53, 53);
}

.kartaMadhe-infoDyte > p {
  font-size: 1rem;
  font-stretch: expanded;
  color: rgb(53, 53, 53);
}

.kartaMadhe-infoDyte > h4 {
  font-size: 0.9rem;
  font-weight: 700;
}

.kartaMadhe-infoDyte > h3 {
  font-weight: 900;
  font-size: 1.6rem;
  font-style: oblique;
}  

.products-card-product {
  display: flex;
  gap: 10%;
}
.products-card-product > img {
  width: 25%;
}
.products-card-product > div {
  font-size: 0.9rem;
  line-height: 0.4;
}

.products-card-reviewsIMG {
  display: flex;
  padding: 15px 0 0 40px;
  align-items: center;
}
.products-card-reviewsIMG > img {
  width: 20%;
  height: 30px;
}

.products-card-djathtas {
  line-height: 0;
  padding-top: 1rem;
}
.products-card-djathtas a {
  line-height: normal;
  font-size: 0.8rem;
  color: #525252;
}
.products-card-djathtas p {
  font-size: 0.8rem;
  color: #525252;
}
.products-card-djathtas h4 {
  font-size: 0.9rem;
  margin-top: 2rem;
}
.products-card-djathtas h3 {
  color: #007fa4;
  font-size: 1.8rem;
}
.products-card-djathtas > .opsionet-dorezimi {
  padding: 0;
  margin: 0;
}
.products-card-djathtas > .opsionet-dorezimi > p,
.products-card-djathtas > .opsionet-koleksioni-falas > p {
  padding: 0;
  margin: 0;
  font-size: 0.73rem;
}

.products-card-djathtas > .opsionet-koleksioni-falas > h4 {
  padding: 0;
  margin: 0;
  font-size: 0.8rem;
}
.products-card-djathtas > .opsionet-dorezimi > h4 {
  margin-top: 2rem;
}
.products-card-djathtas > .opsionet-koleksioni-falas span {
  font-size: 0.8rem;
}

.opsionet-dorezimi {
  text-align: start;
  line-height: 150%;
  padding: 20px 0;
  align-items: center;
}

.opsionet-dorezimi > h4 {
  display: flex;
  justify-content: space-between;
  color: green;
  margin: 0;
}

.opsionet-dorezimi p,
span {
  color: rgb(85, 85, 85);
  font-size: 0.9rem;
  margin: 0;
}

.opsionet-koleksioni-falas h4 {
  color: rgb(85, 85, 85);
  font-size: 0.9rem;

  margin: 0;
}

.opsionet-koleksioni-falas {
  display: flex;
  flex-direction: column;
  text-align: start;
  line-height: 150%;
  padding: 0 0 20px 0;
}

.opsionet-koleksioni-falas > p {
  font-size: 0.9rem;
  color: rgb(85, 85, 85);
  margin: 0;
}

.opsionet-koleksioni-falas p > span {
  font-weight: 900;
  color: black;
  margin: 0;
}

.opsionet-shto-shporte {
  display: flex;
  gap: 2%;
}

.opsionet-shto-shporte > button:first-child {
  background-color: #3a86ff;
  color: #ffffff;
  width: 100%;
  border: none;
  border-radius: 6px;
}

.opsionet-shto-shporte > button:last-child {
  background-color: transparent;
  border: solid 2px black;
  border-radius: 6px;
}