.split-text {
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
}

.split-text span {
  display: inline-block;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 1.5s forwards;
  font-size: 50px;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  60% {
    opacity: 1;
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
