.pershkrimi-produktit {
  margin-bottom: 2%;
}

.pershkrimi-produktit > button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  background-color: transparent;
  border: none;
  
}
.pershkrimi-produktit > button:hover {
  background-color: rgb(221, 221, 221);
  border-radius: 10px;
}
.pershkrimi-produktit svg {
  rotate: 90deg;
  padding: 0;
  margin: 0;
}
.info-produktit {
  display: none;
  background-color: rgb(221, 221, 221);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}