/*-------------------------- PRODUCTS PAGE ------------------------- */

.products-container {
  padding: 1rem 5%;
  display: flex;
  color: #3a3a3a;
}
.products-container hr {
  color: gainsboro;
  /* width: 100%; */
  opacity: 30%;
}
.marka-majtas {
  width: 31%;
}
.products-butonat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
  background: linear-gradient(90deg, #3a86ff, white);
  border: none;
  border-radius: 4px;
  padding: 0 8px;
  margin: 8px 0;
}

#content-1 {
  display: flex;
  gap: 15px;
}

#content-1 input {
  padding: 15px;
  width: 80%;
}

.toggle-section {
  display: block;
}

.itemconfiguration {
  width: 100%;
  height: 200px;
  overflow: scroll;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 10px;
}

.itemconfiguration::-webkit-scrollbar {
  width: 7px; /* Set the width of the scrollbar */
}
.itemconfiguration::-webkit-scrollbar-track {
  background: transparent; /* Track background */
  border-radius: 10px; /* Rounded corners for the track */
}

.itemconfiguration::-webkit-scrollbar-thumb {
  background-color: #ddd; /* Thumb color */
  border-radius: 10px; /* Rounded corners for the thumb */
}

.products-butonat:hover {
  background-color: gainsboro;
}
.products-butonat svg {
  rotate: 90deg;
  padding: 0;
}
.products-butonat p {
  font-size: 0.9rem;
  padding: 0;
  color: #3b3b3b;
  font-weight: 600;
}

.range input {
  padding: 15px 10px;
  font-size: 0.9rem;
  width: 100%;
  border: solid 2px #525252;
  border-radius: 5px;
}

/* <!-- Range Selector   --> */
.kontenieri-filter2 {
  margin-top: 20px;
  width: 100%;
  height: 1%;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.rreshkitesi {
  height: 8px;
  border-radius: 5px;
  background-color: #ddd;
  position: relative;
  left: 2px;
}

.rreshkitesi .progresi {
  height: 10px;
  position: absolute;
  left: 1px;
  right: 2px;
  border-radius: 5px;
  background-color: red;
}

.inputi-range {
  position: relative;
}

.inputi-range input {
  position: absolute;
  top: -7px;
  height: 5px;
  width: 100%;
  pointer-events: none;
  -webkit-appearance: none;
  background: none;
}

input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  pointer-events: auto;
  background-color: red;
  border-radius: 50%;
  -webkit-appearance: none;
}

input[type="range"]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: none;
  pointer-events: auto;
  background-color: red;
  border-radius: 50%;
  -moz-appearance: none;
}
/* <!-- Range Selector   --> */

.products-col-btn label {
  display: flex;
  justify-items: center;
  align-items: center;
  font-size: 1.1rem;
  /* font-size: 0.8rem; */
  padding: 6px 0;
  margin: 0;
  cursor: pointer;
}
.products-col-btn input {
  width: 22px;
  height: 22px;
  margin-right: 14px;
}
.products-col-btn img {
  width: 37%;
  height: 25px;
}