.mbeshtjellesi-kartave-home{
  padding: 0 7%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  /* scrollbar-width: 0; */
}

.kartat-e-medha-home {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((98% / 3) - 1%);
  align-items: center;
  gap: 20px;
  overflow: hidden;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
  scroll-snap-align: start;
}

.kartaMadhe-home {
  display: flex;
  flex-direction: column;
  border: solid 3px rgb(182, 182, 182);
  border-radius: 1rem;
  cursor: pointer;
  overflow: hidden;
  scroll-snap-align: start;
}

.kartaMadhe-foto-home > img {
  width: 100%;
}

.kartaMadhe-kutiaInfos-home {
  padding: 10px;
  background-color: white;
}

.kartaMadhe-info-home {
  display: flex;
  gap: 5px;
  padding: 0 10px;
}

.kartaMadhe-info-home > p {
  border: 1px solid #007fa4;
  border-radius: 1rem;
  padding: 3px 5px;
  font-size: 0.7rem;
  color: rgb(53, 53, 53);
}

.kartaMadhe-infoDyte-home > p {
  font-size: 1rem;
  font-stretch: expanded;
  color: rgb(53, 53, 53);
}

.kartaMadhe-infoDyte-home > h4 {
  font-size: 0.9rem;
  font-weight: 700;
}

.kartaMadhe-infoDyte-home2 > h3 {
  font-weight: 900;
  font-size: 1.6rem;
  font-style: oblique;
}