/*------------- PRODUKTI  ------------*/

.marka-zgjedhur {
  display: flex;
  align-items: center;
  color: rgb(85, 85, 85);
}

.marka-zgjedhur a {
  color: rgb(85, 85, 85);
}

.marka-zgjedhur svg {
  fill: #404040;
  width: 25px;
  height: 25px;
}

.mbeshtjellsi-produktit {
  display: flex;
  padding: 0.5rem 11%;
}


.slideri-produktit button {
  padding: 8px 12px;
  background-color: rgb(242, 242, 242);
  color: rgb(0, 0, 0);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.slideri-produktit {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.slideri-produktit-lart {
  display: flex;
  align-items: center;
}

.slideri-produktit-posht {
  margin: 3% 0 0 7%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.slideri-produktit-posht > img {
  width: 100px;
  padding: 10px;
  border: solid 2px rgb(191, 191, 191);
  border-radius: 5px;
}

.slideri-produktit-posht > button {
  margin: 0 20px 0 0;
}

.opsionet-blerja-produktit {
  display: flex;
  padding-top: 50px;
  text-align: end;
  width: 60%;
  flex-direction: column;
}

.opsionet-blerja-produktit > p {
  color: rgb(58, 58, 58);
  font-size: 13px;
}

.opsionet-blerja-produktit > p svg {
  width: 13px;
}

.opsionet-blerja-produktit > h3 {
  color: #007fa4;
  padding: 0;
  margin: 0;
  font-size: 2.5rem;
  font-style: italic;
  font-weight: 900;
  letter-spacing: -1px;
}

.opsionet-blerja-produktit > a {
  color: #3a3a3a;
  font-size: 0.7rem;
  padding-bottom: 50px;
}

.opsionet-blerja-produktit hr {
  width: 100%;
  opacity: 30%;
  color: #e7e7e7;
  z-index: -1;
}

.opsionet-dorezimi {
  text-align: start;
  line-height: 150%;
  padding: 20px 0;
  align-items: center;
}

.opsionet-dorezimi > h4 {
  display: flex;
  justify-content: space-between;
  color: green;
  margin: 0;
}

.opsionet-dorezimi p,
span {
  color: rgb(85, 85, 85);
  font-size: 0.9rem;
  margin: 0;
}

.opsionet-koleksioni-falas h4 {
  color: rgb(85, 85, 85);
  font-size: 0.9rem;

  margin: 0;
}

.opsionet-koleksioni-falas {
  display: flex;
  flex-direction: column;
  text-align: start;
  line-height: 150%;
  padding: 0 0 20px 0;
}

.opsionet-koleksioni-falas > p {
  font-size: 0.9rem;
  color: rgb(85, 85, 85);
  margin: 0;
}

.opsionet-koleksioni-falas p > span {
  font-weight: 900;
  color: black;
  margin: 0;
}

.opsionet-shto-shporte {
  display: flex;
  gap: 2%;
}

.opsionet-shto-shporte > button:first-child {
  background-color: #3a86ff;
  color: #ffffff;
  width: 100%;
  border: none;
  border-radius: 6px;
}

.opsionet-shto-shporte > button:last-child {
  background-color: transparent;
  border: solid 2px black;
  border-radius: 6px;
}
.opsionet-blerja-cmimet {
  margin-top: 30px;
}
.opsionet-blerja-cmimet h4,
.opsionet-blerja-cmimet h5 {
  color: rgb(85, 85, 85);
  font-size: 0.9rem;
  margin: 50px 0 0 0;
}
.opsionet-blerja-cmimet p {
  color: rgb(85, 85, 85);
}
.opsionet-blerja-cmimet h5 {
  text-decoration: underline;
}
.opsionet-blerja-cmimet a {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 0.9rem;
  text-decoration: none;
}
.opsionet-blerja-cmimet > div {
  display: flex;
  text-align: start;
  align-items: center;
  justify-content: space-between;
}
.opsionet-blerja-cmimet > div * {
  padding: 10px 0;
  margin: 0;
}

.opsionet-blerja-cmimet > div input {
  width: 22px;
  height: 22px;
  margin: 0 10px 0 0;
  accent-color: black;
}

/*              section 2                       */

.produkti-pershkrimi {
  padding: 4rem 17%;
}
.produkti-pershkrimi h3,
.produkti-pershkrimi h4 {
  color: rgb(85, 85, 85);
  font-weight: 600;
}
.produkti-pershkrimi {
  color: rgb(85, 85, 85);
}