
/* <!-- KARTA MADHE --> */
/* .mbeshtjellesi-kartave-slider{
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
} */

/* .mbeshtjellesi-kartave-slider::-webkit-scrollbar,
.seksioni-plani-pare::-webkit-scrollbar {
  display: none;
} */

.kartat-e-medha-current {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((95% / 3) - 1%);
  align-items: center;
  gap: 10px;
  overflow: hidden;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
  scroll-snap-align: start;
}

.kartat-e-medha-current a {
  text-decoration: none;
  color: black;
}

.butonat-e-kontrolluesit-slideri {
  text-align: end;
  padding: 20px 0;
  /* margin-right: 2% ; */
}

.butonat-e-kontrolluesit-slideri > button {
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.butonat-e-kontrolluesit-slideri > button:hover {
  background-color: #616161;
}