.mbeshtjellesi-gjere-kartave-klub {
  padding: 0 14%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

#mbeshtjellesi-dyte-kartave-klub {
  margin-top: 3.5rem;
}

#background-kartave-klub-2 {
  background-color: darkcyan;
  box-shadow: 0px 5px 10px 10px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(50px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 1% 3%;
}

#kartat-e-gjera-klub {
  grid-auto-columns: calc((100% / 1.01) - 0%);
}

#kartaMadheID {
  overflow: hidden;
  flex-direction: row;
  height: 400px;
}

#kartaGjere-infoPosht {
  display: inline-block;
  margin-top: 10%;
  gap: 0px;
}

.kartaGjere-foto {
  width: 100%;
  position: relative;
}

.kartaGjere-foto > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.kartaGjere-kutia {
  padding: 0% 2% 0 2%;
}

.butonat-e-kontrolluesit-teGjere > button:hover {
  background-color: #616161;
}

.butonat-e-kontrolluesit-teGjere {
  text-align: end;
  padding: 20px 0;

}

.butonat-e-kontrolluesit-teGjere > button {
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
