
.home-products-card {
  display: flex;
  width: 81.2%;
  height: auto;
  border-radius: 10px;
  /* padding: 10px 20px 10px 20px; */
  margin: 4rem 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.home-products-card-majtas {
  width: 50%;
  padding: 0px 0px 0px 15px;
}

.home-products-card-product {
  display: flex;
  gap: 10%;
}

.home-products-card-product > img {
  width: 35%;
}

.home-products-card-product > div {
  font-size: 0.9rem;
  line-height: 0.4;
}

.home-kartaMadhe-info {
  display: flex;
  gap: 5px;
  padding: 0 10px;
}

.home-kartaMadhe-info > p {
  border: 3px solid #007fa4;
  border-radius: 1rem;
  padding: 3px 5px;
  font-size: 0.7rem;
  color: rgb(53, 53, 53);
}

.ribbon {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  margin: 0px 10px 20px 0px;
}
.ribbon {
  --r: 1.8em; /* control the cutout */
  
  border-inline: .5em solid #0000;
  padding: 4.5em .2em calc(var(--r) + .2em);
  clip-path: polygon(0 0,100% 0,100% 100%,calc(100% - .5em) 100%,50% calc(100% - var(--r)),.5em 100%,0 100%);
  background:
   radial-gradient(47% .5em at top,#000a,#0000) border-box,
   #2699dc padding-box; /* the color  */
  width: fit-content;
}

.home-products-card-djathtas {
  line-height: 0;
  padding: 0px 15px 0px 0px;
}
.home-products-card-djathtas a {
  line-height: normal;
  font-size: 0.8rem;
  color: #525252;
}
.home-products-card-djathtas p {
  font-size: 0.8rem;
  color: #525252;
}
.home-products-card-djathtas h4 {
  font-size: 0.9rem;
  margin-top: 2rem;
}
.home-products-card-djathtas h3 {
  color: #007fa4;
  font-size: 1.8rem;
}
.home-products-card-djathtas > .home-opsionet-dorezimi {
  padding: 0;
  margin: 0;
}
.home-products-card-djathtas > .home-opsionet-dorezimi > p,
.home-products-card-djathtas > .home-opsionet-koleksioni-falas > p {
  padding: 0;
  margin: 0;
  font-size: 0.73rem;
}

.home-products-card-djathtas > .opsionet-koleksioni-falas > h4 {
  padding: 0;
  margin: 0;
  font-size: 0.8rem;
}
.home-products-card-djathtas > .opsionet-dorezimi > h4 {
  margin-top: 2rem;
}
.home-products-card-djathtas > .opsionet-koleksioni-falas span {
  font-size: 0.8rem;
}

.home-opsionet-dorezimi {
  text-align: start;
  line-height: 150%;
  padding: 20px 0;
  align-items: center;
}

.home-opsionet-dorezimi > h4 {
  display: flex;
  justify-content: space-between;
  color: green;
  margin: 0;
}

.home-opsionet-dorezimi p,
span {
  color: rgb(85, 85, 85);
  font-size: 0.9rem;
  margin: 0;
}

.home-opsionet-koleksioni-falas h4 {
  color: rgb(85, 85, 85);
  font-size: 0.9rem;
  margin: 0;
}

.home-opsionet-koleksioni-falas {
  display: flex;
  flex-direction: column;
  text-align: start;
  line-height: 150%;
  padding: 0 0 20px 0;
}

.home-opsionet-koleksioni-falas > p {
  font-size: 0.9rem;
  color: rgb(85, 85, 85);
  margin: 0;
}

.home-opsionet-koleksioni-falas p > span {
  font-weight: 900;
  color: black;
  margin: 0;
}

.home-products-card-reviewsIMG {
  display: flex;
  padding: 50px 0 0 0;
  align-items: center;
}
.home-products-card-reviewsIMG > img {
  width: 20%;
  height: 30px;
}

.home-opsionet-shto-shporte {
  display: flex;
  gap: 2%;
}

.home-opsionet-shto-shporte > button:first-child {
  background-color: #3a86ff;
  color: #ffffff;
  width: 100%;
  border: none;
  border-radius: 6px;
}

.home-opsionet-shto-shporte > button:last-child {
  background-color: transparent;
  border: solid 2px black;
  border-radius: 6px;
}