/* ----------------------- faqja suporti klientit ---------------------- */

.elementet-baneri {
  background-image: url("https://cdn.pixabay.com/photo/2021/09/12/08/49/headset-6617715_1280.png");
  padding: 90px;
  align-items: center;
  justify-content: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.elementet-baneri h2 {
  font-size: 23px;
  font-weight: 900;
  color: #444;
  margin: 30px 0;
}

.inputi {
  width: 70%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.inputi input {
  width: 70%;
  height: 40px;
}

.inputi button {
  height: 46px;
  width: 40px;
}

.info {
  border: 1px solid gray;
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #f2f2f2;
  align-items: center;
  overflow: hidden; /* Ensures the content doesn't overflow */
  position: relative; /* Position relative to ensure buttons are above the carousel */
}

.mbeshtjellesi {
  width: 90%;
  display: flex;
  overflow: hidden; /* Hide overflow so that the content stays within bounds */
  position: relative; /* Make sure carousel moves within this container */
}

#prevBtn {
  margin-left: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

#nextBtn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  position: absolute;
  right: 0px;
  cursor: pointer;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%; /* Ensure the carousel takes up the entire width */
}

.carousel p {
  margin: 0;
  padding: 0 26px;
  flex-shrink: 0;
  width: 100%; /* Ensure each paragraph takes up the full width */
}

.info:first-child {
  padding-left: 20px;
}

.baneri-dyte {
  display: flex;
  border: 1px solid gray;
  gap: 20px;
  margin-bottom: 30px;
}

.kontenti {
  width: calc((100% / 3) - 1%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.kontenti span {
  font-size: 20px;
}

#toggle1 {
  display: none;
}
#toggle2 {
  display: none;
}
#toggle3 {
  display: none;
}

.divi-banerit h2 {
  font-size: 23px;
  font-weight: 900;
  color: #444;
}

.informacioni-kartave {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 2rem;
}

.kartat-suportit {
  height: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: space-between;
  background-color: #f4f4f4;
}

.hoveri {
  width: 340px;
  position: absolute;
  height: 260px;
  background-color: #007fa4;
  display: none;
  cursor: pointer;
}

.hoveri li {
  /* display: flex; */
  /* align-items: center; */
  color: #ffffff;
  padding: 25px;
  cursor: pointer;
}

.hoveri li:hover {
  color: #000000;
  cursor: pointer;
}

.kartat-suportit i {
  font-size: 7rem;
  color: #007fa4;
  padding-top: 100px;
}

.perKlientin {
  width: 70%;
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
}

/* .perKlientin > .feedback-container {
 justify-content: center;
 align-items: center;
} */

.suport-kontakt {
  display: flex;
  align-items: anchor-center;
  justify-content: space-between;
}

.kontakti-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: baseline;
}

.diviMadh {
  display: flex;
  border: 1px solid gray;
  align-items: center;
}

.shape {
  width: 50%;
  background-color: #007fa4;
  --p: 0px; /* control the shape (can be percentage) */
  height: 100px;
  clip-path: polygon(var(--p) 0, 100% 0, calc(90% - var(--p)) 100%, 0 100%);
  padding: 30px;
}

.ikonat {
  display: flex;
  padding-left: 6%;
  font-size: 2.5rem;
  gap: 40px;
}

/* feedbacku qe do lene userat per eksperiencen e tyre rreth blerjeve online */

.feedback-container {
  margin-top: 10%;
  background-color: white;
  width: 400px;
  height: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  position: relative;
}

.emoji-container {
  border: 1px solid red;
  position: absolute;
  left: 45%;
  /* transform: translateX(-50%); */
  top: 20%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  overflow: hidden;
}

.emoji {
  font-size: 37px;
  /* margin-bottom: 14px; */
  transform: translateX(0);
  transition: transform 0.2s;
}

/* .emoji-container .emoji span {
width: 100px;
} */

.rating-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20%;
}

.fa-star {
  color: lightgray;
  cursor: pointer;
}

.fa-star.active {
  color: gold;
}