.naviLart {
  display: flex;
  gap: 3%;
  padding: 15px 6% 0px 6%;
  justify-content: center;
}

.naviLart>a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 12px;
}

.naviLart>a:hover {
  text-decoration: underline white;
}