/* style for component navpopup */
.perdja-zeze {
  width: 100%;
  height: 975px;
  background: #1a1a1a;
  overflow: hidden;
  position: absolute;
  opacity: 80%;
  visibility: hidden;
  opacity: 0;
  top: 0px;
}

/* bacgroundi i zi te hapja e pop up-it */
.hapPopUpPerdja {
  visibility: visible;
  opacity: 1;
  opacity: 80%;
}
.butonatDjathtas {
  display: flex;
  gap: 30px;
}

.butonatDjathtas>button,
.butonatDjathtas>a {
  border-radius: 100%;
  border: none;
  padding: 10px 15px;
  text-decoration: none;
  color: black;
  font-size: 1.4rem;
  font-weight: 900;
  background-color: white;
}

.butonatDjathtas>a {
  padding: 8px 15px;
}
/* style for component navpopup */


/* navelement component */
.naviPosht {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4%;
  padding: 10px 0;
}

.responsive-row {
  display: flex;
  gap: 20px;
  align-items: center;
}

.responsive-row a {
  padding-top: 16px;
}

.responsive-row img {
  width: 75%;
  height: auto;
  padding-right: 30px;
  will-change: filter;
  transition: filter 300ms;
}

.responsive-row img:hover {
  filter: drop-shadow(0 0 1em #f8fafaaa);
}

.navbarKerkimi {
  display: flex;
  background-color: white;
  width: 40%;
  border-radius: 8px;
  padding: 15px;
}

.navbarKerkimi>input,
.navbarKerkimi>input:focus {
  width: 100%;
  outline: none;
}

.navbarKerkimi>button,
.navbarKerkimi>input {
  background-color: white;
  border: none;
}