/* style for compoentn popUpDyqani */

.perdja-zeze-zgjidhDyqani {
  width: 99%;
  height: 975px;
  background: #1a1a1a;
  overflow: hidden;
  position: absolute;
  opacity: 80%;
  visibility: hidden;
  opacity: 0;
  top: 0px;
  width: 100%;
}

.hapPerdja-Zeze-ZgjidhDyqanin {
  visibility: visible;
  opacity: 1;
  opacity: 90%;
  z-index: 98;
}

.hr-ZgjidhDyqanin {
  margin-top: 100%;
  color: rgb(229, 229, 229);
}

.zgjidhDyqanin {
  margin: 0;
  padding: 0;
  z-index: 99;
}

.zgjidhDyqanin>p {
  font-size: 0.8rem;
  font-weight: 200;
}

.dyqaniZgjedhur-btn {
  font-size: 1rem;
  font-weight: 600;
  width: 25%;
  padding: 19px 0;
  color: white;
  background-color: black;
  border-radius: 10px;
  border: none;
  float: right;
}

.hapPopUpZgjidhDyqanin {
  visibility: visible;
  opacity: 1;
}
/* style for compoentn popUpDyqani */