
.Globe-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  justify-items: center;
  height: 250px;
  padding-top: 50px ;
}

.perGlobe-grid {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.Globehoveri-servisi {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 80%;
  cursor: pointer;
}

.Globehoveri-servisi:hover {
  width: 100%;
  height: 100%;
  text-decoration: underline;
}

